<!-- Header -->
<section id="header">
	<div id="navigation-main">
		<div class="navbar-bars">
			<a href="#">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</a>
		</div>
		<div class="navbar-expand">
			<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="projects.html">PROJECTS</a></li>
				<li><a href="about.html">ABOUT</a></li>
			<ul>
		</div>
	</div>
	<header class="major">
		<h1 class="fadeIn" id="main-title" style="position: relative; z-index: 0;"><span class="typed-cursor hide-me">|</span></h1><br />
		<h3 class="delay-fadeIn">Full Stack Web Developer</h3>
	</header>
	<div class="container">
		<ul class="actions">
			<li><a href="#one" class="button special scrolly">Begin</a></li>
		</ul>
	</div>
</section>