<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
<div id="particles-js"></div>
{% include header.html %}

<!-- One -->
<div id="box-shadow-overlay"></div>
<section id="one" class="main special">
<div id="navbar-wrapper">
	<div class="navbar">
		<ul>
			<li><a href="index.html">HOME</a></li>
			<span>&nbsp;&middot;</span>
			<li><a href="projects.html">PROJECTS</a></li>
			<span>&nbsp;&middot;</span>
			<li><a href="about.html">ABOUT</a></li>
		</ul>
	</div>
</div>
<div id="top-bar">
	<ul>
		<li><div class="close-icon red"><i class="fa fa-times" aria-hidden="true"></i></div></li>
		<li><div class="close-icon yellow"><i class="fa fa-minus" aria-hidden="true"></i></div></li>
		<li><div class="close-icon green"><i class="fa fa-sort" aria-hidden="true"></i></div></li>
	</ul>
	<p style="text-align: center; left: -45px; position: relative; top: -2px; z-index: 0;">Alex Meza</p>
</div>
	<div class="container" id="section-one">
		<span class="image fit primary"><img src="" alt="" /></span>
		<div class="content" id="about-me">
			<header class="major move-up">
				<h2>Who I am</h2>
			</header>
			<div id="profile-picture"></div>
			<p>Alex Meza, <br /><br /> Web Developer<br /><a href="about.html" id="learn-more">Learn More</a></p><br /> 
			
			<span>Efficiency - Simplicity - Elegance</span>
			<div id="tech-icons">
				<i class="ion-social-html5"></i>
				<i class="ion-social-css3"></i>
				<i class="icon-javascript-alt"></i>
				<i class="icon-php-alt"></i>
				<i class="icon-mysql-alt"></i>
				<i class="ion-social-wordpress"></i>
				<i class="ion-social-sass"></i>
			</div>
		</div>
		<a href="#three" class="goto-next scrolly">Next</a>
	</div>
</section>

<!-- Two -->

<!-- Three -->
<section id="three" class="main special" style="margin-top: 0;">
	<div class="container" id="section-three">
		<span class="image fit primary"><img src="" alt="" /></span>
		<div class="content" id="content-section-three">

			<header class="major">
				<h2>PROJECTS</h2>
			</header>
			<div id="projects-reel-container">
				<ul>
					<li>
						<a href="http://nataliemosqueda.com" class="project-overlay project-overlay-odd""><p style="margin-top: 70px;">VISIT SITE<br /><br /></p></a>
						<button class="no-underline" id="myBtnOne" href="#""><img src="assets/images/natalie-mosqueda-mockup.png" class="hvr-fade" /><br /></button>
						<p>Natalie Mosqueda Photography</p>
					</li>
					<li>
						<a href="http://adamfloresdesign.com" class="project-overlay project-overlay-even"><p style="margin-top: 70px;">VISIT SITE</p></a>
						<button class="no-underline" id="myBtnOne" href="#""><img src="assets/images/adam-flores-design-mockup.png" class="hvr-fade" /><br /></button>
						<p>Adam Flores Design</p>
					</li>
					<li>
						<a href="http://aaronpretty.com" class="project-overlay project-overlay-odd"><p style="margin-top: 70px;">VISIT SITE</p></a>
						<button class="no-underline" id="myBtnOne" href="#""><img src="assets/images/aaron-pretty-mockup-template.png" class="hvr-fade" /><br /></button>
						<p>Aaron Pretty Illustration</p>
					</li>
					<li>
						<form action="projects.html">
							<button type="submit" id="projects-full-list">See Full List<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
						</form>
					</li>
				</ul>
			</div>
		
			<!-- The Modal -->
		</div>
		<a href="#footer" class="goto-next scrolly">Next</a>
	</div>
	<div id="modal-wrapper">
		<div id="modal-content">
			<button><i class="ion-close"></i></button>
		</div>
	</div>
</section>

{% include footer.html %}

</body>
</html>
