<!DOCTYPE HTML>
<html>
{% include head.html %}
<body>
<div id="particles-js"></div>
{% include header.html %}

<!-- One -->
<div id="box-shadow-overlay"></div>
<section id="one" class="main special">
<div id="top-bar">
	<ul>
		<li><div class="close-icon red"></div></li>
		<li><div class="close-icon yellow"></div></li>
		<li><div class="close-icon green"></div></li>
	</ul>
	<p style="text-align: center; left: -45px; position: relative; top: -2px">Alex Meza</p>
</div>
	<div class="container" id="section-one">
		<span class="image fit primary"><img src="" alt="" /></span>
		<div class="content" id="about-me">
			<header class="major move-up">
				<h2>Who I am</h2>
			</header>
			<div id="profile-picture"></div>
			<p>Alex Meza, <br /><br /> Web Developer<br /><a href="#" id="learn-more">Learn More</a></p><br /> 
			
			<span>Elegance - Sophistication - Simplicity</span>
			<div id="tech-icons">
				<i class="ion-social-html5"></i>
				<i class="ion-social-css3"></i>
				<i class="icon-javascript-alt"></i>
				<i class="icon-php-alt"></i>
				<i class="icon-mysql-alt"></i>
				<i class="ion-social-wordpress"></i>
				<i class="ion-social-sass"></i>
			</div>
		</div>
		<a href="#three" class="goto-next scrolly">Next</a>
	</div>
</section>

<!-- Two -->

<!-- Three -->
<section id="three" class="main special">
	<div class="container" id="section-three">
		<span class="image fit primary"><img src="" alt="" /></span>
		<div class="content" id="content-section-three">

			<header class="major">
				<h2>PROJECTS</h2>
			</header>
			<div id="projects-reel-container">
				<ul>
					<li>
						<a href="#" class="project-overlay move-down"><p>EXPAND<br /><br /></p></a>
						<button class="no-underline" id="myBtnOne" href="#""><img src="assets/images/natalie-mosqueda-mockup.png" class="hvr-fade" /><br /></button>
						<p>Natalie Mosqueda Photography</p>
					</li>
					<li class="disabled">
						<a href="#" class="project-overlay"><p>COMING<br /><br /> SOON</p></a>
						<button class="no-underline" id="myBtnOne" href="#""><img src="assets/images/tomas-perez-mockup-template.png" class="hvr-fade" /><br /></button>
						<p>Tomás Perez Photography</p>
					</li>
					<li class="disabled">
						<a href="#" class="project-overlay"><p>COMING<br /><br /> SOON</p></a>
						<button class="no-underline" id="myBtnOne" href="#""><img src="assets/images/aaron-pretty-mockup-template.png" class="hvr-fade" /><br /></button>
						<p>Aaron Pretty Illustration</p>
					</li>
					<li>
						<button id="projects-full-list">See Full List<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
					</li>
				</ul>
			</div>
		
			<!-- The Modal -->
		</div>
		<a href="#footer" class="goto-next scrolly">Next</a>
	</div>
	<div id="modal-wrapper">
		<div id="modal-content">
			<button><i class="ion-close"></i></button>
		</div>
	</div>
</section>

{% include footer.html %}

</body>
</html>
